<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <!-- footer block -->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 pt-5 pb-4">
            <div class="container pt-md-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 footer-list-29">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <p class="mb-2 pe-xl-5">Address : Eazy School, 10001, 5th Avenue, #06 lane street, NY - 10017.
                        </p>
                        <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 673 4587</a></p>
                        <p class="mb-2">Email : <a href="mailto:info@eazyschool.com">info@eazyschool.com</a></p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Quick Links</h6>
                            <li><a th:href="@{/about}">About Us</a></li>
                            <li><a th:href="@{/courses}">Courses</a></li>
                            <li><a th:href="@{/contact}">Become a Teacher</a></li>
                            <li><a th:href="@{/contact}">Contact Us</a></li>
                            <li><a th:href="@{/contact}">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Explore</h6>
                            <li><a th:href="@{/holidays(festival='true',federal='true')}">Holidays</a></li>
                            <li><a th:href="@{/holidays/all}">Holidays</a></li>
                            <li><a th:href="@{/contact}">Privacy policy</a></li>
                            <li><a th:href="@{/contact}">Contact Us</a></li>
                            <li><a th:href="@{/contact}">License & uses</a></li>
                            <li><a th:href="@{/courses}">Courses</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 footer-list-29 mt-lg-0 mt-4 ps-lg-5">
                        <h6 class="footer-title-29">Subscribe</h6>
                        <form action="#" class="subscribe d-flex" method="post">
                            <input type="email" name="email" placeholder="Email Address" required="">
                            <button class="button-style"><span class="fa fa-paper-plane"
                                    aria-hidden="true"></span></button>
                        </form>
                        <p class="mt-3">Subscribe to our mailing list and get updates to your email inbox.</p>
                    </div>
                </div>
                <!-- copyright -->
            <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">© 2023 Eazy School. All rights reserved. Design
                    by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a></p>
                <!-- //copyright -->
            </div>
        </div>
    </footer>
    <!-- //footer block -->
</body>

</html>