<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<table class="table table-bordered">
			<tr>
				<td>Date </td>
				<td th:text="${timestamp}"></td>
			</tr>
			<tr>
				<td>Status </td>
				<td th:text="${status}"></td>
			</tr>
			<tr>
				<td>Error </td>
				<td th:text="${error}"></td>
			</tr>
			<tr>
				<td>Path </td>
				<td th:text="${path}"></td>
			</tr>
			<tr>
				<td>Trace </td>
				<td th:text="${trace}"></td>
			</tr>
		</table>
	</div>
</body>
</html>