<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<h1>This is dashboard</h1>
	
	<a th:href="@{/logout}">logout</a>
	

</body>
</html>